.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.34px;
    border: 1px solid #000;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.activeButton {
    background-color: #000;
    color: #fff;
}