.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
    padding: 26px 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.4px;
}

.block, .blockLink {
    display: flex;
    align-items: center;
    gap: 20px;
}

.image {
    width: 170px;
    height: 200px;
}

.buttonDelete {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.table {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 225px;
    margin-right: 30px;
}

.amountButton {
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.4px;
    text-align: center;
    width: 60px;
    height: 60px;
    border: 1px solid #AFAFAF;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

@media (max-width: 1173px) {
    .table {
        gap: 135px;
    }
}

@media (max-width: 970px) {
    .table {
        gap: 85px;
    }
}

@media (max-width: 850px) {
    .container {
        padding: 20px 0;
        font-size: 18px;
    }

    .table {
        gap: 90px;
    }

    .amountButton {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .block {
        width: 200px;
    }
}

@media (max-width: 765px) {
    .container {
        flex-direction: column;
    }

    .block {
        width: auto;
        align-items: center;
        justify-content: center;
        margin-right: 50px;
    }

    .blockLink {
        width: auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .table {
        gap: 40px;
        margin-right: 0;
    }
}
