.container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: flex-end;  
}

.containerTop {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 30px;
}

.icon {
    padding: 0 12px;
}

@media (max-width: 560px) {
    .container {
        flex-direction: row;
        margin-left: 0;
        padding-top: 30px;
        align-items: center;
        gap: 30px;
    }

    .containerTop {
        padding-bottom: 0;
    }
}