.container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

@media (max-width: 790px) {    
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
}