.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    padding-right: 11px;
}

.name {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}