.container {
    margin: 0 auto;
    max-width: 1110px;
    padding: 0 32px;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
}

.footer {
    background-color: rgba(241, 234, 220, 1);
    padding: 0 32px;
}