.products {
    display: flex;
    justify-content: center;
    gap: 65px 30px;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.count {
    color: #808080;
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.34px;
    margin: 40px 0;
}